.games-hero {
    text-align: center;
    padding: 100px 20px 70px;

    background:
        radial-gradient(
            circle at center,
            rgba(255, 40, 40, .12),
            transparent 60%
        );
}

.games-hero span {
    color: #ff3030;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 4px;
}

.games-hero h1 {
    font-size: clamp(45px, 7vw, 75px);
    font-weight: 900;
    margin: 18px 0;
}

.games-hero p {
    color: #888;
    font-size: 17px;
}

nav a.active {
    color: #ff3030;
}

@media (max-width: 600px) {

    .games-hero {
        padding: 70px 20px 50px;
    }

    .games-hero h1 {
        font-size: 45px;
    }

}
